<!DOCTYPE html>
<html>
    <title>
        Britishify
    </title>
    <link rel="stylesheet" href="../static/converter.css">
    <body>
        <div class = "nav">
            <h1>Britishify</h1>
        </div>

        <div class = "title">
            Converter
        </div>

        <div id = "speak">
            <img class = "icon" src = "../static/micIcon.png">
            <p>Press the mic and speak into it!</p>
        </div>

        <div class = "showText">
            <h1>American:</h1>
            <div class = "output">

            </div>
        </div>

        <img id = "arrow" src = "../static/arrowIcon.png">

        <div class = "showText">
            <h1>British:</h1>
            <div class = "output">

            </div>
        </div>

        <script>
            const record = document.getElementById("recordBtn");
            let recording = false;
            let audioBits = [];
            let mediaRecorder;
            record.addEventListener('click', async () => {
                if (recording == false){
                    recording = true;
                    recording.style.backgroundColor = "red";
                    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia){
                        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                        const mediaRecorder = new MediaRecorder(stream);
                        mediaRecorder.start();
                        console.log("Recording Started")
                    }
                }

                if (recording == true){
                    recording.style.backgroundColor = "black";
                    recording = false;
                    mediaRecorder.stop();

                }
            })

            mediaRecorder.ondataavailable = (e) => {
                            audioBits.push(e.data);
                        };

            mediaRecorder.onstop = (e) => {
                const blob = new Blob(audioBits, { type: 'audio/wav' });  
                console.log("Recording Stopped.") 
                fetch("/transcribe", {
                    method: "POST",
                    headers: {
                        "Content-Type": "audio/wav"
                    },
                    body: blob
                })        
            }
        </script>
    </body>
</html>