<!DOCTYPE html>
<html>
    <title>
        Britishify
    </title>
    <link rel="stylesheet" href="../static/converter.css">
    <body>
        <div class = "nav">
            <h1>Britishify</h1>
        </div>

        <div class = "title">
            Converter
        </div>

        <div id = "speak">
            <img id = "recordBtn" class = "icon" src = "../static/micIcon.png">
            <p>Press the mic and speak into it!</p>
        </div>

        <div class = "showText">
            <h1>American:</h1>
            <div class = "output">

            </div>
        </div>

        <img id = "arrow" src = "../static/arrowIcon.png">

        <div class = "showText">
            <h1>British:</h1>
            <div class = "output">

            </div>
        </div>

        <script>
            const record = document.getElementById("recordBtn");
            let recording = false;
            let audioBits = [];
            let mediaRecorder;
            record.addEventListener('click', async () => {
                if (recording == false){
                    recording = true;
                    record.style.backgroundColor = "red";
                    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia){
                        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                        mediaRecorder = new MediaRecorder(stream);
                        mediaRecorder.start();
                        console.log("Recording Started")
                    }
                }

                else if (recording == true){
                    record.style.backgroundColor = "white";
                    recording = false;
                    mediaRecorder.ondataavailable = (e) => {
                            audioBits.push(e.data);
                        };

                    mediaRecorder.onstop = async (e) => {
                        const blob = new Blob(audioBits, { type: 'audio/wav' });  
                        const arrayBuffer = await blob.arrayBuffer();
                        const file = new File([arrayBuffer], 'og.wav', { type: 'audio/wav' });
                        console.log("Recording Stopped.") 
                        await fetch("/transcribe", {
                            method: "POST",
                            headers: {
                                "Content-Type": "audio/wav"
                            },
                            body: file
                        })    
                        console.log(file)
                        console.log("Wav'ed")    
                    }

                    mediaRecorder.stop();

                }
            })
        </script>
    </body>
</html>