<!DOCTYPE html>
<html>
    <title>
        Britishify
    </title>
    <link rel="stylesheet" href="../static/converter.css">
    <body>
        <div class = "nav">
            <h1>Britishify</h1>
        </div>

        <div class = "title">
            Converter
        </div>

        <div id = "speak">
            <img id = "recordBtn" class = "icon" src = "../static/micIcon.png">
            <p>Press the mic and speak into it!</p>
        </div>

        <div class = "showText">
            <h1>American:</h1>
            <div class = "output american">
               
            </div>
        </div>

        <img id = "arrow" src = "../static/arrowIcon.png">

        <div class = "showText">
            <h1>British:</h1>
            <div class = "output british">

            </div>
        </div>

        <script>
            const record = document.getElementById("recordBtn");
            let recording = false;
            let audioBits = [];
            let mediaRecorder;
            record.addEventListener('click', async () => {
                if (recording == false){
                    recording = true;
                    record.style.backgroundColor = "red";
                    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia){
                        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                        mediaRecorder = new MediaRecorder(stream, {mimeType: "audio/webm"});
                        mediaRecorder.start();
                        console.log("Recording Started")
                    }
                }

                else if (recording == true){
                    record.style.backgroundColor = "white";
                    recording = false;
                    mediaRecorder.ondataavailable = (e) => {
                            audioBits.push(e.data);
                        };

                    mediaRecorder.onstop = async (e) => {
                        const blob = new Blob(audioBits, { type: 'audio/webm' });  
                        const arrayBuffer = await blob.arrayBuffer();
                        const file = new File([arrayBuffer], 'og.webm', { type: 'audio/webm' });
                        console.log("Recording Stopped.") 
                        await fetch("/transcribe", {
                            method: "POST",
                            headers: {
                                "Content-Type": "audio/webm"
                            },
                            body: file
                        }).then(async (response) => {
                            console.log(file)
                            console.log("recorded")    
                            audioUrl = URL.createObjectURL(file)
                            const audioToPlay = document.createElement('audio')
                            audioToPlay.src = audioUrl
                            audioToPlay.controls = true
                            document.body.appendChild(audioToPlay)

                            const data = await response.json()
                            console.log(data)
                            console.log(data["transcription"])
                            const text = document.createElement("p")
                            text.textContent = data["transcription"]
                            document.querySelector(".american").appendChild(text)
                            console.log("finished running transcription")
                        })    
                       
                        // able to get audio File ^^^^^ is pulling from mongoDB working..?
                    }

                    mediaRecorder.stop();

                }
            })
        </script>
    </body>
</html>