<!DOCTYPE html>
<html>
    <title>
        Britishify
    </title>
    <link rel="stylesheet" href="../static/history.css">
    <body>
        <div class = "nav">
            <h1>Britishify</h1>
        </div>

        <div class = "title">
            History
        </div>

        <div class = "showText">
            <h1>Output of sentences:</h1>
        </div>

        {% for sentence in sentences %}
        <div class="container">
            <p>American: {{sentence.original_sentence}}</p>
            <p>British: {{sentence.britishified}}</p>
        </div>
        {% endfor %}
    </body>
</html>