<!DOCTYPE html>
<html>
    <title>
        Britishify
    </title>
    <link rel="stylesheet" href="../static/history.css">
    <body>
        <div class = "nav">
            <h1>Britishify</h1>
        </div>

        <div class = "title">
            History
        </div>

        <div class = "showText">
            <h1>Indubitably the Most Interesting of the Outputs Provided</h1>
            mmmmmmmmmmmmmmmm indeed
        </div>

        <div class="container">
            <h1>Precocious Sentences</h1>
            <ul style="list-style-type:disc">
                <li>Earl Grey Tea</li>
                <li>English Breakfast Tea</li>
                <li>Yorkshire Tea</li>
            </ul>
        </div>
    </body>
</html>