body{
    padding: 0;
    margin: 0;
    background-color: beige;
    height:100%;
    width: 100%;
    font-weight: 700;
}

.title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.nav{
    width: 100%;
    height: 50px;
    background-color: rgb(163, 0, 0);
    padding:none;
    margin: 0;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

h1{
    margin:0;
    margin-left: 15px;
}

#speak{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding-bottom: 40px;
    border-radius: 15px;
    display: block;
    margin: auto;
    border: solid 2px rgb(198, 179, 179);
    background-color:  #c7d8ff;

}

.icon{
    height: 50px;
    width: 50px;
    margin-top: 5px;
    background-color: white;
    border:solid 2px black;
    border-radius: 30px;
}

#arrow{
    height: 50px;
    background-color: white;
    border:solid 2px black;
    border-radius: 30px;
    display: block;
    margin: auto;
    width: 50px;
}

h4{
    margin: 0;
    padding: 0;
}

.showText{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.output{
    height: 300px;
    width: 900px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid rgb(198, 179, 179);
}

h1{
    width:900px;
    text-align: left !important;
}

p{
    padding: 2px;
    
    margin-left: 20px;
    font-size: 30px;
}

.container{
    background-color:  white;
    border-radius: 15px;
    border: solid 2px rgb(234, 167, 167);
    font-size: 30px;
    padding-left: 20px; 
}